name: responsive_plus_example
description: "Exemplo de Utilização do Pacote responsive_plus."
version: 1.0.1+1

environment:
  sdk: ^3.10.1

dependencies:
  flutter:
    sdk: flutter

  responsive_plus:
    path: ../
  url_launcher: ^6.3.2

  cupertino_icons: ^1.0.8

dev_dependencies:
  integration_test:
    sdk: flutter
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
