name: responsive_pro_example
description: "Exemplo de Utilização do Pacote responsive_pro."
version: 1.0.5

environment:
  sdk: ^3.10.1

dependencies:
  flutter:
    sdk: flutter

  responsive_pro:
    path: ../
  url_launcher: ^6.3.2

  cupertino_icons: ^1.0.8

dev_dependencies:
  integration_test:
    sdk: flutter
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/
