name: responsive_pro
description: "Responsive Pro — Responsividade avançada para Flutter, escalonamento de fonte e adaptação automática de layouts para todas as plataformas suportadas pelo Flutter."
version: 1.1.0

repository: https://github.com/takeodev/responsive_pro

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter